.navbar {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Center items vertically */
  background-color: #f8f9fa; /* Set background color */
  padding: 10px 20px; /* Add padding */
  border-bottom: 1px solid #dee2e6; /* Add a border */
}

.img {
  width: 240px;
  height: 100%;
  border-radius: 0;
  align-self: start;
  margin-top: 0;
}
.pfpbutton {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-top: 0;


}

.form {
  width: 50%;
  display: flex; /* Flex container for centering */
  justify-content: center; /* Center the form content */
}
.btnsearch {
  display: flex; /* Flex container for centering */
  justify-content: center; /* Center the form content */
  background-color: white;
  border: 1px solid crimson;
  color: crimson;
  border-radius: 26px;
}
.btnsearch:hover {
  color: white;
  background-color: crimson;
  transition: color 0.3s, background-color 0.3s; /* Smooth transition */
}
.btnsearch:focus {
  background-color: white;
  color : crimson;
}

.navbar.dark {
  background-color: #343a40; /* Dark background */
  border-bottom: 1px solid #454d55; /* Darker border */
}
.btnsearch.dark {
  background-color: #6c757d; /* Dark background */
    border: 1px solid #ced4da; /* Light border */
    color: white; /* White text */
}
.btnsearch.dark:hover {
  background-color: #f5f5f5;
  color: #000;
  transition: color 0.3s, background-color 0.3s; /* Smooth transition */
}
.btnsearch.dark:focus {
  background-color: #f5f5f5;
  color: #000;
}
.forminput.dark {
  background-color: #495057; /* Dark background */
  color: white; /* White text */
  border: 1px solid #ced4da; /* Light border */
}
.forminput.dark::placeholder {
  color: white;
}
